name: Package Extension

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Create Zip
        run: |
          cd src
          zip -r ../mahjongsoul-link-changer.zip .

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: extension-package
          path: mahjongsoul-link-changer.zip

      - name: Create Release
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: ncipollo/release-action@v1
        with:
          artifacts: "mahjongsoul-link-changer.zip"
          tag: "release"
          name: "Latest Build"
          body: "install chrome extension by [chrome://extensions](chrome://extensions)"
          allowUpdates: true
          removeArtifacts: true
          replacesArtifacts: true
          token: ${{ secrets.GITHUB_TOKEN }}
